body {
  /* display: flex; */
}
.multipass {
  height: 400px;
  width: 800px;
  margin: 0 auto;
  background-color: teal;
}
.name {
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}
.img {
  display: block;
  margin: 0 auto;
}
.posibility {
  margin: 0;
  display: inline;
  padding-top: 5px;
  color: rgb(18, 9, 151);
}
.posibilityCss {
  padding: 20px;
}

.posibility::after {
  content: ' * ';
  color: #111;
}
