#gallery {
  display: flex;
  padding-top: 20px;
}
.gallery-img {
  max-width: 500px;
}
.gallery-item {
  margin: 0 auto;
  list-style: none;
  
}

.newBox {
  border: 1px solid;
  border-radius: 5%;
  margin-top: 20px;
  width: 100px;
  height: 100px;
  background-color: #237380;
}

#counter {
  display: block;
  margin-left: 20%;
  margin-top: 100px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;